#getToSchool {
  border: 1px solid #000000;
  border-width: 1px;
  margin: auto;
  width: 400px;
  text-align: center;
  color: #FFFFFF;
  background-color: #808080;
  }

#gtsLink {
color: #FFFFFF;
text-decoration: none;
}

.segmentG {
  border: 1px solid #000000;
  border-width: 1px;
  margin: auto;
  width: 500px;
  text-align: center;
  color: #FFFFFF;
  background-color: #808080;
}

body{
  font-family: Dangermode, Calibri,Arial;
  background-color: #e0e0eb;
}

#openMenu {
  font-size: 1.5em;
  display: flex;
}

#closeMenu {
  display: block;
  width: 95px;
}

#menu {
  border: 2px solid #000000;
  display: flex;
  border: flex;
  width: 120px;
}

.menuItem {
  border: 2px solid #000000;
  background-color: #1F51FF;
  color: #000000;
  border-radius: 2px;
  margin: 5px;
  padding: 5px;
  font-weight: bold;
  transition-property: background-color;
  transition-duration: 0.5;
  display: block;
  display: flex;
  border: flex;
  width: 95px;
}

.menuItem:hover {
  background-color: #33CC33;
}

a {
  color: #000000;
  text-decoration: none;

  @media screen and (max-width: 500px) {
    # {
      display: inline;
    }

    #closeMenu {
      display: block;
    }

    #menu {
      display: block;
      position: absolute;
      top: 0px;
      z-index: 99;
      width: 95%;
      left: 50%;
      transform: translate(-50%);
      background: solid;
      background-color: #FFFFFF;
    }
  }
